*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    width:100dvw;
    height:100dvh;
}
body{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0 ;
}
.Card-produtos
{
  background-color: #eee;
  padding: 30px;
  border-radius: 10px;
  width: 500px;
  h2
  {
    text-align: center;
    margin:  0 0 5px 0;
  }
  hr
  {
    color: rgba(128, 128, 128, 0.486);
  }
  header
  {
    display: flex;
    gap: 10px;
    button
    {
      background-color: white;
      outline: none;
      font-size: 1em;
      border: 1px solid black;
      padding: 0 10px;
      border-radius: 5px;
    }
  }
  .adicionando_produtos
  {
    width: 100%;
    form
    {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      padding: 10px;
      .addname,.addqtd
      {
        padding: 10px 5px;
      }
      .addname
      {
        width: 65%;
      }
      .addqtd
      {
        width: 20%;
      }
      button
      {
        width: 15%;
      }
    }
  }
}
